* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cover-image {
    height: auto;
    width: 100vw;
}
.ingre-list ul{
    color: darkred;
    font-weight: bold;
}

.step li{
    font-size: 20px;
    font-weight: bold;

}

.step p{
    font-weight: 100;
    font-size: 18px;
}

h3 {
    color: darkslateblue;
}

